/* #preload-01 { background-image: url(https://img.scryfall.com/cards/art_crop/front/b/d/bd8fa327-dd41-4737-8f19-2cf5eb1f7cdd.jpg?1562933099) no-repeat -9999px -9999px; } */
/* https://api.scryfall.com/cards/bd8fa327-dd41-4737-8f19-2cf5eb1f7cdd */
/* https://img.scryfall.com/cards/art_crop/front/b/d/bd8fa327-dd41-4737-8f19-2cf5eb1f7cdd.jpg?1562933099 */



html, body {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #d7d2cb;
    width: 100%;
    max-width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .slider {
    width: 100%;
    height: 300px;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;  
    /* -webkit-animation-direction: normal; */
  }
  .slide {
    width: 300px;
    flex-shrink: 0;
    height: 100%;
  }

  .search-box {
    scroll-padding-top: 105;
  }
  